#banner-container{
    width: 100%;
    height: auto;
}

/* SECCIÓN INFORMACIÓN */

    #banner-container img{
        width: 100%;
        max-height: 400px;
        align-self: center;
    }

    #banner-container .carousel-caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;   
    }

    #banner-container .carousel-caption h5{
        font-family: 'Supercell Magic';
        font-size: 20px;  
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

