


/*SECCIÓN MODOS DE JUEGO*/

    #form-control #modos-content{
        background-color: brown;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    /*Título*/
    #form-control #modos-content h6{
        color: rgb(233, 233, 233);
        font-size: 15px;
        font-family: 'Supercell Magic';
        font-weight: bold;
        text-align: center;
    }

    @media (max-width: 1200px){
        #form-control #modos-content h6{
            font-size:12px;
        }
    }

    /*Checkboxs modos de juego*/
    #form-control #modos-content #modos-checkbox{
        background-color: rgb(182, 179, 177);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 200px;
        border-radius: 5px;
    }

    @media (max-width: 1200px){
        #form-control #modos-content #modos-checkbox{
            width: 150px;
        }
    }

    /*Label modos de juego*/
    #form-control #modos-content #modos-checkbox label{
        color: white;
        font-family: 'Supercell Magic';
        font-size: 12px;
    }

    @media (max-width: 1200px){
        #form-control #modos-content #modos-checkbox label{
            font-size: 10px;
        }
    }

    /*Input checkbox modos de juego*/
    /*sin contenido*/


/*SECCIÓN DE OBJETIVO DEL ANÁLISIS*/

    #objetivo-content{
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

        /*Título de la sección*/
        #objetivo-content h6{
            color: white;
            font-size: 15px;
            font-family: 'Supercell Magic';
            font-weight: bold;
            text-align: center;
        }

        @media (max-width: 1200px){
            #form-control #objetivo-content h6{
                font-size:12px;
            }
        }

        /*Select de objetivo*/
        #objetivo-content select{
            background-color: rgb(182, 179, 177);
            color: white;
            font-family: 'Supercell Magic';
            font-size: 12px;
            padding: 10px;
            border-radius: 5px;
            width: 200px;
            border: none;
        }


/*SECCIÓN DE SUGERENCIAS TÁCTICAS*/

    #tacticas-content{
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

        #tacticas-content h6{
            color: white;
            font-size: 14px;
            font-family: 'Supercell Magic';
            font-weight: bold;
            text-align: center;
        }

        @media (max-width: 1200px){
            #form-control #tacticas-content h6{
                font-size:12px;
            }
        }

        #tacticas-content select{
            background-color: rgb(182, 179, 177);
            color: white;
            font-family: 'Supercell Magic';
            font-size: 12px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            width: 200px;
        }


/*SECCIÓN ANÁLISIS DEL MAZO ACTUAL*/

    #mazo-content{
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

        
        #mazo-content h6{
            color: white;
            font-size: 14px;
            font-family: 'Supercell Magic';
            font-weight: bold;
            text-align: center;
        }

        @media (max-width: 1200px){
            #form-control #mazo-content h6{
                font-size:12px;
            }
        }

        #mazo-content select{
            background-color: rgb(182, 179, 177);
            color: white;
            font-family: 'Supercell Magic';
            font-size: 12px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            width: 200px;
        }


/*SECCIÓN NIVEL DE ANÁLISIS*/

    #nvl-analisis-content{
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

        
        #nvl-analisis-content h6{
            color: white;
            font-size: 14px;
            font-family: 'Supercell Magic';
            font-weight: bold;
            text-align: center;
        }

        @media (max-width: 1200px){
            #form-control #nvl-analisis-content h6{
                font-size:12px;
            }
        }

        #nvl-analisis-content select{
            background-color: rgb(182, 179, 177);
            color: white;
            font-family: 'Supercell Magic';
            font-size: 12px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            width: 200px;
        }


/*SECCIÓN BOTÓN MOSTRAR SUGERENCIA */

    #form-control button{
        margin-top: 10px;
        width: 40%;
        font-family: 'Supercell Magic';
        font-size: 12px;
    }


/*SECCIÓN SUGERENCIA*/

    .sugerencia p{
        margin-top: 10px;
        font-family: 'Supercell Magic';
        font-size: 12px;
        font-weight: 100;
    }

    